<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<h1>Hey!! This is Anjali!!</h1>
<h2><br>
    Curently I am learning as a college grad. <br>And recently in corona times I discovered that I am fond of reading(but to mention not Novels.)
    <h3>
        <br>I had my education from Kendriya Vidyalaya.I studied there for 12 years.
        <br>My personality type is ENFJ-A 
        <br>My fav colour is "Green" earlier it was blue.
        <br>rest i will update later.
        <br>thanks for reading.!!
    </h3>
</h2>