hii everyone!!
<h3>this is ani works</h3>
<h4>your pass is : </h4>
{{password}}

<h1>
    trying something new 
    <h2>
        dropdown
    </h2>
    <form action="">
        <select name="colour">
            <option
                value="blue">blue
            </option>
            <option
                value="red">red
            </option>
            <option
                value="yellow">yellow
            </option>
            <option
                value="green">green
            </option>
        </select>

        <input type="submit" value="choose colour">
    </form>
</h1>